<h1>Survey</h1>

        <div>    
            <p><%= data["id"]; %></p>
            <p><%= data["introductionMessage"]; %></p>
            <p><%= data["completionMessage"]; %></p>
            <p><%= data["sectionId"]; %></p>
        </div>

<a href="/surveys">&laquo back</a>
