<div id="assignedItems">
	<div class="card mb-3" style="display: none;">
		<div class="card-header">
			Assigned to:
		</div>
		<ul class="list-group list-group-flush"></ul>
	</div>

	<div class="assigned-loading text-center my-4">
		<i class="fa fa-cog fa-spin fa-4x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>
</div>