<h1>Survey Section</h1>

        <div>    
            <p><%= data["id"]; %></p>
            <p><%= data["introductionMessage"]; %></p>
            <p><%= data["questionIds"]; %></p>
            <p><%= data["heading"]; %></p>
        </div>

<a href="/surveys">&laquo back</a>
