<h1>Home Page</h1>

<nav>
    <ul>
        <li><a href="/surveys">Surveys</a></li>
        <li><a href="/surveySections">Sections</a></li>
        <li><a href="/questions">Questions</a></li>
    </ul>
</nav>