<h1>Delete Question</h1>

<form method="post" action="/questions/<%= data['id']; %>/delete">
    
    <input type="hidden" name="questionId" value="<%= data['id']; %>"> 
            
    <p>Do you want to delete the question: <strong>"<%= data['questionText']; %>"</strong> ?</p>

    <br><br>
    <input type="submit" value="Delete Question">
    
</form>

<a href="/questions/<%= data['id']; %>">&laquo back</a>